<header>
    <div class="container_12">
        <div class="grid_12">
            <div class="menu_block">
                <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                    <ul class="sf-menu">
                        <li><a href="home">НАПРАВЛЕНИЯ</a></li>
                        <li><a href="tours">ПОИСК ТУРА</a></li>
                        <li><a href="news">НОВОСТИ</a></li>
                        <li><a href="contacts">КОНТАКТЫ</a></li>
                        <li><a href="about">О НАС</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
        <div align="center" style="padding-bottom: 20px">
            <a href="home">
                <img src="images/logo/logo4.png">
            </a>
        </div>
    </div>
</header>
