<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112055931-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-112055931-1');
    </script>

    <meta name="yandex-verification" content="af1758dc277235d3"/>
    <title>Турагентство "Travel Service" г. Киров (ул. Спасская 18) - Направления</title>
    <div th:insert="fragments/headTag">...</div>
    <style type="text/css">
        .text-bordered {
            text-shadow: black 1px 1px 0, black -1px -1px 0,
            black -1px 1px 0, black 1px -1px 0;
        }
    </style>
    <style type="text/css">
        .myList li {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
</head>
<body class="page1" id="top">
<!-- Yandex.Metrika counter -->
<div th:insert="fragments/yandex-metrika">...</div>
<!--==============================header=================================-->
<div th:insert="fragments/header">...</div>
<!--==============================Content=================================-->
<div class="slider_wrapper">
    <div id="camera_wrap" class="">
        <div data-src="images/directions/Turkey.jpg">
            <div class="caption fadeIn">
                <h2 style="font-weight: 700" class="text-bordered">Турция</h2>
                <a href="https://kirov.ross-tur.ru/?show-tours">ПОДОБРАТЬ ТУР</a>
            </div>
        </div>
        <div data-src="images/directions/ArabEmirates.jpg">
            <div class="caption fadeIn">
                <h2 style="font-weight: 700" class="text-bordered">ОАЭ</h2>
                <a href="https://kirov.ross-tur.ru/?show-tours">ПОДОБРАТЬ ТУР</a>
            </div>
        </div>
        <div data-src="images/directions/Thailand.jpg">
            <div class="caption fadeIn">
                <h2 style="font-weight: 700" class="text-bordered">Тайланд</h2>
                <a href="https://kirov.ross-tur.ru/?show-tours">ПОДОБРАТЬ ТУР</a>
            </div>
        </div>
        <div data-src="images/directions/Vietnam.jpg">
            <div class="caption fadeIn">
                <h2 style="font-weight: 700" class="text-bordered">Вьетнам</h2>
                <a href="https://kirov.ross-tur.ru/?show-tours">ПОДОБРАТЬ ТУР</a>
            </div>
        </div>
        <div data-src="images/directions/Chaina.jpg">
            <div class="caption fadeIn">
                <h2 style="font-weight: 700" class="text-bordered">Китай</h2>
                <a href="https://kirov.ross-tur.ru/?show-tours">ПОДОБРАТЬ ТУР</a>
            </div>
        </div>
        <div data-src="images/directions/Greece.jpg">
            <div class="caption fadeIn">
                <h2 style="font-weight: 700" class="text-bordered">Греция</h2>
                <a href="https://kirov.ross-tur.ru/?show-tours">ПОДОБРАТЬ ТУР</a>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container_12">
        <h3 align="center">Travel Service</h3>
        <div class="block2">
            <br/>
            <br/>
            <b>Любите путешествовать или просто решили отдохнуть?</b>
            <br/>
            <br/>
            В планировании отпуска существует множество тонкостей, и мы знаем, как оформить все на высшем уровне.
            Доверьтесь
            профессионалам, и путешествие станет незабываемым, и комфортным. Мы подарим позитивные эмоции и новые
            впечатления.
            <br/>
            <br/>
            <u>Чем мы отличаемся от других компаний:</u>
            <ul class="myList">
                <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Индивидуальный подход к желаниям каждого клиента;
                </li>
                <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Работаем с разными туристическими направлениями и
                    готовы предложить отдых как в популярных странах,
                    так и на экзотических курортах. Вам достаточно рассказать о своих предпочтениях и озвучить
                    планируемый
                    бюджет, и наши менеджеры в кратчайшие сроки подберут идеальный вариант.
                </li>
                <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Профессиональное знание тонкостей и подводных
                    камней туристического рынка.
                </li>
                <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Мы стараемся предлагать клиентам только
                    проверенные отели, маршруты, либо максимально собираем всю
                    необходимую информацию .
                </li>
                <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Удобный поиск туров и оплата туров, возможность приобретения туристических путевок в режиме On-line,
                    а
                    так же возможность оплатить тур в офисе компании с помощью банковских карт и Сбербанк-онлайн
                </li>
            </ul>
        </div>
    </div>
</div>
<!--==============================footer=================================-->
<div th:insert="fragments/footer">...</div>
<div th:insert="fragments/jivosite">...</div>
</body>
</html>